# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/


# Tests
.pytest_cache/


# Byte-compiled
*.cpython-*


# IDE
.vscode/
.idea/


# Docker
*.log


# OS
.DS_Store
Thumbs.db

# Jenkins
Jenkinsfile